flows.json
[{"id":"b602ba6d.082b38","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"710ea69.8bc5258","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"84895be4.2363d8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"2f93b622.f3237a","type":"ibmiot","name":"IOTDATA","keepalive":"60","serverName":"h8hazz.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b91b479b.5750c8","type":"ui_tab","name":"[Crop_Protection]Crop_Web","icon":"dashboard","disabled":false,"hidden":false},{"id":"482b61a4.e2cd","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":6,"cy":6,"px":5,"py":5}}},{"id":"8ebae432.ca99c8","type":"ui_spacer","name":"spacer","group":"","order":5,"width":26,"height":1},{"id":"efaabf3.8cb844","type":"ui_spacer","name":"spacer","group":"","order":6,"width":30,"height":1},{"id":"30bd9162.ca7f6e","type":"ui_spacer","name":"spacer","group":"","order":7,"width":30,"height":1},{"id":"904e7f5c.82674","type":"ui_spacer","name":"spacer","group":"","order":8,"width":30,"height":1},{"id":"50a36de1.510394","type":"ui_spacer","name":"spacer","group":"","order":9,"width":30,"height":1},{"id":"587618b.ce9f3e8","type":"ui_spacer","name":"spacer","group":"","order":10,"width":30,"height":1},{"id":"7bd7745e.6acdcc","type":"ui_spacer","name":"spacer","group":"","order":11,"width":30,"height":1},{"id":"89293def.6904d","type":"ui_spacer","name":"spacer","group":"","order":12,"width":30,"height":1},{"id":"4604e96a.afae18","type":"ui_spacer","name":"spacer","group":"","order":13,"width":30,"height":1},{"id":"963020b2.a4f74","type":"ui_spacer","name":"spacer","group":"","order":14,"width":30,"height":1},{"id":"b1b856c3.6835e8","type":"ui_spacer","name":"spacer","group":"","order":15,"width":30,"height":1},{"id":"e2732d8c.141cf","type":"ui_spacer","name":"spacer","group":"","order":16,"width":30,"height":1},{"id":"e0072d67.b8f8b","type":"ui_spacer","name":"spacer","group":"","order":17,"width":30,"height":1},{"id":"1eb5283a.639e78","type":"ui_spacer","name":"spacer","group":"","order":18,"width":30,"height":1},{"id":"7ee44901.2d81b8","type":"ui_spacer","name":"spacer","group":"","order":19,"width":30,"height":1},{"id":"db558176.2e4b7","type":"ui_spacer","name":"spacer","group":"","order":20,"width":30,"height":1},{"id":"553aefe1.c1b","type":"ui_spacer","name":"spacer","group":"","order":21,"width":30,"height":1},{"id":"92f73c39.9d33d","type":"ui_spacer","name":"spacer","group":"","order":22,"width":30,"height":1},{"id":"3bb071f9.bfd34e","type":"ui_spacer","name":"spacer","group":"","order":23,"width":30,"height":1},{"id":"a2db9817.962758","type":"ui_spacer","name":"spacer","group":"","order":24,"width":30,"height":1},{"id":"b905ca41.23d898","type":"ui_spacer","name":"spacer","group":"","order":25,"width":30,"height":1},{"id":"810ead36.20d69","type":"ui_spacer","name":"spacer","group":"","order":26,"width":30,"height":1},{"id":"9bdfa748.0dd878","type":"ui_spacer","name":"spacer","group":"","order":27,"width":30,"height":1},{"id":"2510d280.5e99ae","type":"ui_spacer","name":"spacer","group":"","order":28,"width":30,"height":1},{"id":"c741acf3.55cb9","type":"ui_spacer","name":"spacer","group":"","order":29,"width":30,"height":1},{"id":"ada84ca0.44ddc","type":"ui_spacer","name":"spacer","group":"","order":30,"width":30,"height":1},{"id":"80af95d5.0bd228","type":"ui_spacer","name":"spacer","group":"","order":31,"width":30,"height":1},{"id":"64b8c494.195e2c","type":"ui_spacer","name":"spacer","group":"","order":32,"width":30,"height":1},{"id":"60302508.eddc8c","type":"ui_spacer","name":"spacer","group":"","order":33,"width":30,"height":1},{"id":"cd735b94.29fd48","type":"ui_spacer","name":"spacer","group":"","order":34,"width":30,"height":1},{"id":"3a2dbf2f.a3008","type":"ui_spacer","name":"spacer","group":"","order":35,"width":30,"height":1},{"id":"af98c0b1.dd269","type":"ui_spacer","name":"spacer","group":"","order":36,"width":30,"height":1},{"id":"a97efe79.ee172","type":"ui_spacer","name":"spacer","group":"","order":37,"width":30,"height":1},{"id":"5ff5d2b2.c7e86c","type":"ui_spacer","name":"spacer","group":"","order":38,"width":30,"height":1},{"id":"37e7ef83.a1884","type":"ui_spacer","name":"spacer","group":"","order":39,"width":30,"height":1},{"id":"1666aefd.d2e8e1","type":"ui_spacer","name":"spacer","group":"","order":40,"width":30,"height":1},{"id":"9a0cf577.813c98","type":"ui_spacer","name":"spacer","group":"","order":41,"width":30,"height":1},{"id":"9aa2e62d.f75478","type":"ui_spacer","name":"spacer","group":"","order":42,"width":30,"height":1},{"id":"2e6a9a5e.5aa846","type":"ui_spacer","name":"spacer","group":"","order":43,"width":30,"height":1},{"id":"8d57c073.b2751","type":"ui_spacer","name":"spacer","group":"","order":44,"width":30,"height":1},{"id":"8c67785f.288018","type":"ui_spacer","name":"spacer","group":"","order":45,"width":30,"height":1},{"id":"c6d52790.046908","type":"ui_spacer","name":"spacer","group":"","order":46,"width":30,"height":1},{"id":"3a275ce1.f02554","type":"ui_spacer","name":"spacer","group":"","order":47,"width":30,"height":1},{"id":"33fc919e.e92c6e","type":"ui_spacer","name":"spacer","group":"","order":48,"width":30,"height":1},{"id":"7568cef9.f0a5f","type":"ui_spacer","name":"spacer","group":"","order":49,"width":30,"height":1},{"id":"42f2fa09.8a1974","type":"ui_spacer","name":"spacer","group":"","order":50,"width":30,"height":1},{"id":"2edffa33.5cca36","type":"ui_spacer","name":"spacer","group":"","order":51,"width":30,"height":1},{"id":"a2d5139e.4d766","type":"ui_spacer","name":"spacer","group":"","order":52,"width":30,"height":1},{"id":"75bd5df3.fa2784","type":"ui_spacer","name":"spacer","group":"","order":53,"width":30,"height":1},{"id":"f25ae84a.734028","type":"ui_spacer","name":"spacer","group":"","order":54,"width":30,"height":1},{"id":"ab5091b.9b49c7","type":"ui_spacer","name":"spacer","group":"","order":55,"width":30,"height":1},{"id":"3f404790.207508","type":"ui_spacer","name":"spacer","group":"","order":56,"width":30,"height":1},{"id":"3bc45ac.329bca6","type":"ui_spacer","name":"spacer","group":"","order":57,"width":30,"height":1},{"id":"dc7afc0f.c3fed","type":"ui_spacer","name":"spacer","group":"","order":58,"width":30,"height":1},{"id":"4a43452b.c0e36c","type":"ui_spacer","name":"spacer","group":"","order":59,"width":30,"height":1},{"id":"5300ff8b.1f1a4","type":"ui_spacer","name":"spacer","group":"","order":60,"width":30,"height":1},{"id":"1a38b207.dbcf6e","type":"ui_spacer","name":"spacer","group":"","order":61,"width":30,"height":1},{"id":"fc8cb36b.6d284","type":"ui_spacer","name":"spacer","group":"","order":62,"width":30,"height":1},{"id":"f313382b.5b8108","type":"ui_spacer","name":"spacer","group":"","order":63,"width":30,"height":1},{"id":"9f415722.1e75c8","type":"ui_spacer","name":"spacer","group":"","order":64,"width":30,"height":1},{"id":"c5196352.d15b4","type":"ui_spacer","name":"spacer","group":"","order":65,"width":30,"height":1},{"id":"f6648f58.82c7d","type":"ui_spacer","name":"spacer","group":"","order":66,"width":30,"height":1},{"id":"3eb2a62.29d4a5a","type":"ui_spacer","name":"spacer","group":"","order":67,"width":30,"height":1},{"id":"8bd58cfd.28d07","type":"ui_spacer","name":"spacer","group":"","order":68,"width":30,"height":1},{"id":"617477d3.33b668","type":"ui_spacer","name":"spacer","group":"","order":69,"width":30,"height":1},{"id":"4b9fdf43.31026","type":"ui_spacer","name":"spacer","group":"","order":70,"width":30,"height":1},{"id":"f4133fbd.fcf15","type":"ui_spacer","name":"spacer","group":"","order":71,"width":30,"height":1},{"id":"eb96caa8.495488","type":"ui_spacer","name":"spacer","group":"","order":72,"width":30,"height":1},{"id":"8b2caf29.c77ed","type":"ui_spacer","name":"spacer","group":"","order":73,"width":30,"height":1},{"id":"89a8dfd2.9b6b7","type":"ui_spacer","name":"spacer","group":"","order":74,"width":30,"height":1},{"id":"a28a9340.7b3b2","type":"ui_spacer","name":"spacer","group":"","order":75,"width":30,"height":1},{"id":"87e9e95a.0f76f8","type":"ui_spacer","name":"spacer","group":"","order":76,"width":30,"height":1},{"id":"9807a57b.319438","type":"ui_spacer","name":"spacer","group":"","order":77,"width":30,"height":1},{"id":"3e36b644.73b4aa","type":"ui_spacer","name":"spacer","group":"","order":78,"width":30,"height":1},{"id":"3ef8e532.54514a","type":"ui_spacer","name":"spacer","group":"","order":79,"width":30,"height":1},{"id":"df2b99bf.ec69a8","type":"ui_spacer","name":"spacer","group":"","order":80,"width":30,"height":1},{"id":"8dfb84d8.c31588","type":"ui_spacer","name":"spacer","group":"","order":81,"width":30,"height":1},{"id":"80798da5.d2f98","type":"ui_spacer","name":"spacer","group":"","order":82,"width":30,"height":1},{"id":"1a572830.8ff838","type":"ui_spacer","name":"spacer","group":"","order":83,"width":30,"height":1},{"id":"2b413563.b47aba","type":"ui_spacer","name":"spacer","group":"","order":84,"width":30,"height":1},{"id":"30b8ea04.2d26a6","type":"ui_spacer","name":"spacer","group":"","order":85,"width":30,"height":1},{"id":"c0d299b6.95c3a8","type":"ui_spacer","name":"spacer","group":"","order":86,"width":30,"height":1},{"id":"c0201060.d4179","type":"ui_spacer","name":"spacer","group":"","order":87,"width":30,"height":1},{"id":"432f7c88.78bab4","type":"ui_spacer","name":"spacer","group":"","order":88,"width":30,"height":1},{"id":"99577035.17631","type":"ui_spacer","name":"spacer","group":"","order":89,"width":30,"height":1},{"id":"e348da9.8ba3728","type":"ui_spacer","name":"spacer","group":"","order":90,"width":30,"height":1},{"id":"37a59d42.54b132","type":"ui_spacer","name":"spacer","group":"","order":91,"width":30,"height":1},{"id":"c3e933f5.2c968","type":"ui_spacer","name":"spacer","group":"","order":92,"width":30,"height":1},{"id":"bccf8e91.49e4d","type":"ui_spacer","name":"spacer","group":"","order":93,"width":30,"height":1},{"id":"3f4c6081.96785","type":"ui_spacer","name":"spacer","group":"","order":94,"width":30,"height":1},{"id":"ab486c51.ec3ea","type":"ui_spacer","name":"spacer","group":"","order":95,"width":30,"height":1},{"id":"f028d4c8.68fb88","type":"ui_spacer","name":"spacer","group":"","order":96,"width":30,"height":1},{"id":"f3349b50.b4e7e8","type":"ui_spacer","name":"spacer","group":"","order":97,"width":30,"height":1},{"id":"da1c0bb2.266f28","type":"ui_spacer","name":"spacer","group":"","order":98,"width":30,"height":1},{"id":"51161ef1.2c1f4","type":"ui_spacer","name":"spacer","group":"","order":99,"width":30,"height":1},{"id":"fb8a38e1.054628","type":"ui_spacer","name":"spacer","group":"","order":100,"width":30,"height":1},{"id":"e1845e96.4ed78","type":"ui_spacer","name":"spacer","group":"","order":101,"width":30,"height":1},{"id":"b91b7746.711c98","type":"ui_spacer","name":"spacer","group":"","order":102,"width":30,"height":1},{"id":"333236d8.27348a","type":"ui_spacer","name":"spacer","group":"","order":103,"width":30,"height":1},{"id":"30740f75.89a3e","type":"ui_spacer","name":"spacer","group":"","order":104,"width":30,"height":1},{"id":"23d3c242.0820ce","type":"ui_spacer","name":"spacer","group":"","order":105,"width":30,"height":1},{"id":"483d76b7.ed2738","type":"ui_spacer","name":"spacer","group":"","order":106,"width":30,"height":1},{"id":"e921a305.b5228","type":"ui_spacer","name":"spacer","group":"","order":107,"width":30,"height":1},{"id":"e1926081.3c38a","type":"ui_spacer","name":"spacer","group":"","order":108,"width":30,"height":1},{"id":"9a057525.d36008","type":"ui_spacer","name":"spacer","group":"","order":109,"width":30,"height":1},{"id":"822303f3.e6347","type":"ui_spacer","name":"spacer","group":"","order":110,"width":30,"height":1},{"id":"5eeaba8e.3a9614","type":"ui_spacer","name":"spacer","group":"","order":111,"width":30,"height":1},{"id":"afcda8e6.593228","type":"ui_spacer","name":"spacer","group":"","order":112,"width":30,"height":1},{"id":"ad8354b9.9af978","type":"ui_spacer","name":"spacer","group":"","order":113,"width":30,"height":1},{"id":"4b314293.b44e3c","type":"ui_spacer","name":"spacer","group":"","order":114,"width":30,"height":1},{"id":"a31a548b.ad4978","type":"ui_spacer","name":"spacer","group":"","order":115,"width":30,"height":1},{"id":"3cbd6fa9.ef5da","type":"ui_spacer","name":"spacer","group":"","order":116,"width":30,"height":1},{"id":"f41c1ad7.82c038","type":"ui_spacer","name":"spacer","group":"","order":117,"width":30,"height":1},{"id":"44a07518.be279c","type":"ui_spacer","name":"spacer","group":"","order":118,"width":30,"height":1},{"id":"38c2d311.c5064c","type":"ui_spacer","name":"spacer","group":"","order":119,"width":30,"height":1},{"id":"eb6f8f2e.2ebea","type":"ui_spacer","name":"spacer","group":"","order":120,"width":30,"height":1},{"id":"747d3e2d.71717","type":"ui_spacer","name":"spacer","group":"","order":121,"width":30,"height":1},{"id":"215f4f02.51102","type":"ui_spacer","name":"spacer","group":"","order":122,"width":30,"height":1},{"id":"909e5f8b.e76a1","type":"ui_spacer","name":"spacer","group":"","order":123,"width":30,"height":1},{"id":"7cf7e39a.f05fbc","type":"ui_spacer","name":"spacer","group":"","order":124,"width":30,"height":1},{"id":"64a61712.3b1438","type":"ui_spacer","name":"spacer","group":"","order":125,"width":30,"height":1},{"id":"f66622f.5fcebe","type":"ui_spacer","name":"spacer","group":"","order":126,"width":30,"height":1},{"id":"79803c25.0779b4","type":"ui_spacer","name":"spacer","group":"","order":127,"width":30,"height":1},{"id":"c6be1d60.ea31e","type":"ui_spacer","name":"spacer","group":"","order":128,"width":30,"height":1},{"id":"37b84311.d4c3ac","type":"ui_spacer","name":"spacer","group":"","order":129,"width":30,"height":1},{"id":"a9da14b2.0e8a78","type":"ui_spacer","name":"spacer","group":"","order":130,"width":30,"height":1},{"id":"2becbb6b.f15ae4","type":"ui_spacer","name":"spacer","group":"","order":131,"width":30,"height":1},{"id":"fb2b9af2.3fbcd8","type":"ui_spacer","name":"spacer","group":"","order":132,"width":30,"height":1},{"id":"e0155c61.c415e","type":"ui_spacer","name":"spacer","group":"","order":133,"width":30,"height":1},{"id":"16e54c1c.a02904","type":"ui_spacer","name":"spacer","group":"","order":134,"width":30,"height":1},{"id":"22811ea.aecdbe2","type":"ui_spacer","name":"spacer","group":"","order":135,"width":30,"height":1},{"id":"a430cd62.57051","type":"ui_spacer","name":"spacer","group":"","order":136,"width":30,"height":1},{"id":"b7a9d5b.b8ab428","type":"ui_spacer","name":"spacer","group":"","order":137,"width":30,"height":1},{"id":"29d4fb0e.142424","type":"ui_spacer","name":"spacer","group":"","order":138,"width":30,"height":1},{"id":"72c704a1.60204c","type":"ui_spacer","name":"spacer","group":"","order":139,"width":30,"height":1},{"id":"866073bb.60e29","type":"ui_spacer","name":"spacer","group":"","order":140,"width":30,"height":1},{"id":"6a67cb3e.1724d4","type":"ui_spacer","name":"spacer","group":"","order":141,"width":30,"height":1},{"id":"3820b7a9.16d1a8","type":"ui_spacer","name":"spacer","group":"","order":142,"width":30,"height":1},{"id":"48ba9236.b2d47c","type":"ui_spacer","name":"spacer","group":"","order":143,"width":30,"height":1},{"id":"bdc8419a.e6f07","type":"ui_spacer","name":"spacer","group":"","order":144,"width":30,"height":1},{"id":"b580b482.2ebab8","type":"ui_spacer","name":"spacer","group":"","order":145,"width":30,"height":1},{"id":"722862f5.4eff5c","type":"ui_spacer","name":"spacer","group":"","order":146,"width":30,"height":1},{"id":"a7a758c0.783398","type":"ui_spacer","name":"spacer","group":"","order":147,"width":30,"height":1},{"id":"2a9073ff.13b5cc","type":"ui_spacer","name":"spacer","group":"","order":148,"width":30,"height":1},{"id":"af824645.bad588","type":"ui_spacer","name":"spacer","group":"","order":149,"width":30,"height":1},{"id":"3b1ef17c.ddedce","type":"ui_spacer","name":"spacer","group":"","order":150,"width":30,"height":1},{"id":"c11490ab.4fc71","type":"ui_spacer","name":"spacer","group":"","order":151,"width":30,"height":1},{"id":"126c5dd1.ba1602","type":"ui_spacer","name":"spacer","group":"","order":152,"width":30,"height":1},{"id":"7d71735c.963dbc","type":"ui_spacer","name":"spacer","group":"","order":153,"width":30,"height":1},{"id":"23606699.d79e9a","type":"ui_spacer","name":"spacer","group":"","order":154,"width":30,"height":1},{"id":"cd342f26.7cf79","type":"ui_spacer","name":"spacer","group":"","order":155,"width":30,"height":1},{"id":"8019f8dd.1b72f8","type":"ui_spacer","name":"spacer","group":"","order":156,"width":30,"height":1},{"id":"2fd38ec6.cd2b82","type":"ui_spacer","name":"spacer","group":"","order":157,"width":30,"height":1},{"id":"b16c543d.9b7f38","type":"ui_spacer","name":"spacer","group":"","order":158,"width":30,"height":1},{"id":"5d4d3788.87f6d8","type":"ui_spacer","name":"spacer","group":"","order":159,"width":30,"height":1},{"id":"7e54bd8.80d7844","type":"ui_spacer","name":"spacer","group":"","order":160,"width":30,"height":1},{"id":"e195c576.999318","type":"ui_spacer","name":"spacer","group":"","order":161,"width":30,"height":1},{"id":"507a276c.c53b68","type":"ui_spacer","name":"spacer","group":"","order":162,"width":30,"height":1},{"id":"d1480ec1.7e206","type":"ui_spacer","name":"spacer","group":"","order":163,"width":30,"height":1},{"id":"903c8622.8da1b8","type":"ui_spacer","name":"spacer","group":"","order":164,"width":30,"height":1},{"id":"31857ce2.b223b4","type":"ui_spacer","name":"spacer","group":"","order":165,"width":30,"height":1},{"id":"d0237ae3.657e68","type":"ui_spacer","name":"spacer","group":"","order":166,"width":30,"height":1},{"id":"b799a4ac.c80ae8","type":"ui_spacer","name":"spacer","group":"","order":167,"width":30,"height":1},{"id":"5534f465.c6febc","type":"ui_spacer","name":"spacer","group":"","order":168,"width":30,"height":1},{"id":"ffc0563a.db2f08","type":"ui_spacer","name":"spacer","group":"","order":169,"width":30,"height":1},{"id":"38865525.acbe1a","type":"ui_spacer","name":"spacer","group":"","order":170,"width":30,"height":1},{"id":"6e359353.79b22c","type":"ui_spacer","name":"spacer","group":"","order":171,"width":30,"height":1},{"id":"993a439f.7a231","type":"ui_spacer","name":"spacer","group":"","order":172,"width":30,"height":1},{"id":"506b254f.78b11c","type":"ui_spacer","name":"spacer","group":"","order":173,"width":30,"height":1},{"id":"47ccdd1d.f3f204","type":"ui_spacer","name":"spacer","group":"","order":174,"width":30,"height":1},{"id":"98ed9d1e.fbef7","type":"ui_spacer","name":"spacer","group":"","order":175,"width":30,"height":1},{"id":"8bb900a9.a4a53","type":"ui_spacer","name":"spacer","group":"","order":176,"width":30,"height":1},{"id":"2ff3fa7a.1ee886","type":"ui_spacer","name":"spacer","group":"","order":177,"width":30,"height":1},{"id":"b4be95e.f737568","type":"ui_spacer","name":"spacer","group":"","order":178,"width":30,"height":1},{"id":"cd194dd3.758","type":"ui_spacer","name":"spacer","group":"","order":179,"width":30,"height":1},{"id":"b96046fe.aba288","type":"ui_spacer","name":"spacer","group":"","order":180,"width":30,"height":1},{"id":"99607bda.993548","type":"ui_spacer","name":"spacer","group":"","order":181,"width":30,"height":1},{"id":"99e42974.2e24b8","type":"ui_spacer","name":"spacer","group":"","order":182,"width":30,"height":1},{"id":"e31ea1e.5d3fb6","type":"ui_spacer","name":"spacer","group":"","order":183,"width":30,"height":1},{"id":"d816e89f.aea948","type":"ui_spacer","name":"spacer","group":"","order":184,"width":30,"height":1},{"id":"810de61.1eb6718","type":"ui_spacer","name":"spacer","group":"","order":185,"width":30,"height":1},{"id":"e56279b3.81d758","type":"ui_spacer","name":"spacer","group":"","order":186,"width":30,"height":1},{"id":"104475fb.5d04da","type":"ui_spacer","name":"spacer","group":"","order":187,"width":30,"height":1},{"id":"225ff7af.d0a2e8","type":"ui_spacer","name":"spacer","group":"","order":188,"width":30,"height":1},{"id":"3472940d.9dac1c","type":"ui_spacer","name":"spacer","group":"","order":189,"width":30,"height":1},{"id":"2dfa9a78.81eaf6","type":"ui_spacer","name":"spacer","group":"","order":190,"width":30,"height":1},{"id":"ad2b0169.98dcb","type":"ui_spacer","name":"spacer","group":"","order":191,"width":30,"height":1},{"id":"18825d31.8e8a73","type":"ui_spacer","name":"spacer","group":"","order":192,"width":30,"height":1},{"id":"930fea4d.bac998","type":"ui_spacer","name":"spacer","group":"","order":193,"width":30,"height":1},{"id":"cf4e4289.b811e","type":"ui_spacer","name":"spacer","group":"","order":194,"width":30,"height":1},{"id":"8c50a7a0.95f238","type":"ui_spacer","name":"spacer","group":"","order":195,"width":30,"height":1},{"id":"714be065.38fde","type":"ui_spacer","name":"spacer","group":"","order":196,"width":30,"height":1},{"id":"3279159f.91e07a","type":"ui_spacer","name":"spacer","group":"","order":197,"width":30,"height":1},{"id":"cb226510.564088","type":"ui_spacer","name":"spacer","group":"","order":198,"width":30,"height":1},{"id":"4fe5196e.2c45d8","type":"ui_spacer","name":"spacer","group":"","order":199,"width":30,"height":1},{"id":"b25a3a6d.87ae88","type":"ui_spacer","name":"spacer","group":"","order":200,"width":30,"height":1},{"id":"4372377e.5762d8","type":"ui_spacer","name":"spacer","group":"","order":201,"width":30,"height":1},{"id":"b3733885.0326e8","type":"ui_spacer","name":"spacer","group":"","order":202,"width":30,"height":1},{"id":"f4888209.1f633","type":"ui_spacer","name":"spacer","group":"","order":203,"width":30,"height":1},{"id":"ee5e293.2e11cd8","type":"ui_spacer","name":"spacer","group":"","order":204,"width":30,"height":1},{"id":"c6c30479.957098","type":"ui_spacer","name":"spacer","group":"","order":205,"width":30,"height":1},{"id":"dd4e322a.f4139","type":"ui_spacer","name":"spacer","group":"","order":206,"width":30,"height":1},{"id":"3a623c44.a3ad84","type":"ui_spacer","name":"spacer","group":"","order":207,"width":30,"height":1},{"id":"6f88b111.da111","type":"ui_spacer","name":"spacer","group":"","order":208,"width":30,"height":1},{"id":"9e9f5597.4d44f8","type":"ui_spacer","name":"spacer","group":"","order":209,"width":30,"height":1},{"id":"a1fdc2a2.32bf5","type":"ui_spacer","name":"spacer","group":"","order":210,"width":30,"height":1},{"id":"d29b77dc.216368","type":"ui_spacer","name":"spacer","group":"","order":211,"width":30,"height":1},{"id":"37323c89.722ea4","type":"ui_spacer","name":"spacer","group":"","order":212,"width":30,"height":1},{"id":"2930d39a.0aa34c","type":"ui_spacer","name":"spacer","group":"","order":213,"width":30,"height":1},{"id":"4d38e6a7.26d488","type":"ui_spacer","name":"spacer","group":"","order":214,"width":30,"height":1},{"id":"ccd13d51.e5a3b","type":"ui_spacer","name":"spacer","group":"","order":215,"width":30,"height":1},{"id":"a9adcc50.df00f","type":"ui_spacer","name":"spacer","group":"","order":216,"width":30,"height":1},{"id":"4067b24a.f67bfc","type":"ui_spacer","name":"spacer","group":"","order":217,"width":30,"height":1},{"id":"113a21f2.cf1c0e","type":"ui_spacer","name":"spacer","group":"","order":218,"width":30,"height":1},{"id":"8ef5e1bf.c1bf7","type":"ui_spacer","name":"spacer","group":"","order":219,"width":30,"height":1},{"id":"c03fa0c0.201ec","type":"ui_spacer","name":"spacer","group":"","order":220,"width":30,"height":1},{"id":"13e8f2bb.3140dd","type":"ui_spacer","name":"spacer","group":"","order":221,"width":30,"height":1},{"id":"b83464d8.0e8a08","type":"ui_spacer","name":"spacer","group":"","order":222,"width":30,"height":1},{"id":"64daaf9e.a7fdb","type":"ui_spacer","name":"spacer","group":"","order":223,"width":30,"height":1},{"id":"c4614a31.5b7cd8","type":"ui_spacer","name":"spacer","group":"","order":224,"width":30,"height":1},{"id":"add2f55.c257f08","type":"ui_spacer","name":"spacer","group":"","order":225,"width":30,"height":1},{"id":"cb039c0b.b438c","type":"ui_spacer","name":"spacer","group":"","order":226,"width":30,"height":1},{"id":"d182c420.e6ac78","type":"ui_spacer","name":"spacer","group":"","order":227,"width":30,"height":1},{"id":"def19389.029c1","type":"ui_spacer","name":"spacer","group":"","order":228,"width":30,"height":1},{"id":"57c6fab2.138e24","type":"ui_spacer","name":"spacer","group":"","order":229,"width":30,"height":1},{"id":"2405f35b.41b7dc","type":"ui_spacer","name":"spacer","group":"","order":230,"width":30,"height":1},{"id":"80b7af8.888a65","type":"ui_spacer","name":"spacer","group":"","order":231,"width":30,"height":1},{"id":"4ce84ec2.80ba8","type":"ui_spacer","name":"spacer","group":"","order":232,"width":30,"height":1},{"id":"d1b1512a.d2dda","type":"ui_spacer","name":"spacer","group":"","order":233,"width":30,"height":1},{"id":"480371ab.6c3e4","type":"ui_spacer","name":"spacer","group":"","order":234,"width":30,"height":1},{"id":"11e47711.9a5239","type":"ui_spacer","name":"spacer","group":"","order":235,"width":30,"height":1},{"id":"71d78c50.ef74a4","type":"ui_spacer","name":"spacer","group":"","order":236,"width":30,"height":1},{"id":"f3396de.f18799","type":"ui_spacer","name":"spacer","group":"","order":237,"width":30,"height":1},{"id":"d842134d.742b5","type":"ui_spacer","name":"spacer","group":"","order":238,"width":30,"height":1},{"id":"cccc0037.af105","type":"ui_spacer","name":"spacer","group":"","order":239,"width":30,"height":1},{"id":"1deac213.abcb6e","type":"ui_spacer","name":"spacer","group":"","order":240,"width":30,"height":1},{"id":"7c2ba3.b485f45c","type":"ui_spacer","name":"spacer","group":"","order":241,"width":30,"height":1},{"id":"7fc166c5.2f4208","type":"ui_spacer","name":"spacer","group":"","order":242,"width":30,"height":1},{"id":"fc74b707.971688","type":"ui_spacer","name":"spacer","group":"","order":243,"width":30,"height":1},{"id":"32314b63.d78534","type":"ui_spacer","name":"spacer","group":"","order":244,"width":30,"height":1},{"id":"f4f1fe75.73d87","type":"ui_spacer","name":"spacer","group":"","order":245,"width":30,"height":1},{"id":"5fe00532.e1c6ec","type":"ui_spacer","name":"spacer","group":"","order":246,"width":30,"height":1},{"id":"b794ee39.52ecd","type":"ui_spacer","name":"spacer","group":"","order":247,"width":30,"height":1},{"id":"d59b167c.0977a8","type":"ui_spacer","name":"spacer","group":"","order":248,"width":30,"height":1},{"id":"dfd71322.0d2ae","type":"ui_spacer","name":"spacer","group":"","order":249,"width":30,"height":1},{"id":"bd76603e.b2e43","type":"ui_spacer","name":"spacer","group":"","order":250,"width":30,"height":1},{"id":"87b37bca.9cbfd8","type":"ui_spacer","name":"spacer","group":"","order":251,"width":30,"height":1},{"id":"4a8950e1.4e235","type":"ui_spacer","name":"spacer","group":"","order":252,"width":30,"height":1},{"id":"4857a10b.9381b","type":"ui_spacer","name":"spacer","group":"","order":253,"width":30,"height":1},{"id":"c01e9b85.c0b788","type":"ui_spacer","name":"spacer","group":"","order":254,"width":30,"height":1},{"id":"df3accaf.08299","type":"ui_spacer","name":"spacer","group":"","order":255,"width":30,"height":1},{"id":"d1f53b9d.d0d0e8","type":"ui_spacer","name":"spacer","group":"","order":256,"width":30,"height":1},{"id":"c7f9e06.545d22","type":"ui_spacer","name":"spacer","group":"","order":257,"width":6,"height":1},{"id":"fec96246.8888d","type":"ui_spacer","name":"spacer","group":"","order":259,"width":13,"height":1},{"id":"197267d8.705378","type":"ui_spacer","name":"spacer","group":"","order":260,"width":6,"height":1},{"id":"16c2e3e3.dc686c","type":"ui_spacer","name":"spacer","group":"","order":262,"width":6,"height":1},{"id":"78ec52ef.40b5ac","type":"ui_spacer","name":"spacer","group":"","order":263,"width":6,"height":1},{"id":"b31b89ba.b703e8","type":"ui_spacer","name":"spacer","group":"","order":265,"width":6,"height":1},{"id":"3442b200.35dc3e","type":"ui_spacer","name":"spacer","group":"","order":266,"width":6,"height":1},{"id":"9eaed434.50b0c8","type":"ui_spacer","name":"spacer","group":"","order":268,"width":6,"height":1},{"id":"546fedfd.b34ad4","type":"ui_spacer","name":"spacer","group":"","order":269,"width":6,"height":1},{"id":"78ae7d65.659534","type":"ui_spacer","name":"spacer","group":"","order":270,"width":13,"height":1},{"id":"30ef4c39.2ca664","type":"ui_spacer","name":"spacer","group":"","order":271,"width":6,"height":1},{"id":"b5fdcbfb.c3bf48","type":"ui_spacer","name":"spacer","group":"","order":272,"width":13,"height":1},{"id":"44177182.c7525","type":"ui_spacer","name":"spacer","group":"","order":273,"width":6,"height":1},{"id":"32b56187.8c90ce","type":"ui_spacer","name":"spacer","group":"","order":274,"width":13,"height":1},{"id":"1c9906d5.59c209","type":"ui_spacer","name":"spacer","group":"","order":275,"width":6,"height":1},{"id":"5306cefb.0276a","type":"ui_spacer","name":"spacer","group":"","order":276,"width":13,"height":1},{"id":"c8555895.3f88f8","type":"ui_group","name":"","tab":"b91b479b.5750c8","order":2,"disp":true,"width":22,"collapse":true},{"id":"e8bcd4d1.4c69a8","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":2,"width":2,"height":1},{"id":"5b17863.1373778","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":4,"width":3,"height":1},{"id":"7a6db92f.465878","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":5,"width":12,"height":1},{"id":"849a57f7.08b838","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":10,"width":12,"height":1},{"id":"3cd83185.2267ce","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":11,"width":12,"height":1},{"id":"b77b621e.bb352","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":12,"width":22,"height":1},{"id":"7440dc00.535a54","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":13,"width":5,"height":1},{"id":"88dc8e98.45d15","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":15,"width":6,"height":1},{"id":"a51be0b3.6a7b8","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":16,"width":2,"height":1},{"id":"364d2237.de688e","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":18,"width":2,"height":1},{"id":"cffbf6b9.8aff38","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":19,"width":2,"height":1},{"id":"dc9d684a.7ae2e8","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":20,"width":2,"height":1},{"id":"1bd25a12.4dc866","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":21,"width":2,"height":1},{"id":"727b696a.f5f5b8","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":22,"width":2,"height":1},{"id":"be1df3af.abca4","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":23,"width":2,"height":1},{"id":"e342b85e.654648","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":24,"width":2,"height":1},{"id":"ee175b66.a264a8","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":25,"width":2,"height":1},{"id":"19a45e2a.c9d2a2","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":26,"width":2,"height":1},{"id":"899a94fc.ca3a38","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":27,"width":2,"height":1},{"id":"4f037bbf.2cef24","type":"ui_spacer","name":"spacer","group":"c8555895.3f88f8","order":28,"width":2,"height":1},{"id":"89e17fa8.bb2ff","type":"ibmiot in","z":"710ea69.8bc5258","authentication":"apiKey","apiKey":"2f93b622.f3237a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"IOTdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":160,"wires":[["57789ea0.a6a6b","bc948af5.589688","f293c633.0cbb38","c32e5ef0.7626"]]},{"id":"57789ea0.a6a6b","type":"debug","z":"710ea69.8bc5258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":40,"wires":[]},{"id":"bc948af5.589688","type":"function","z":"710ea69.8bc5258","name":"","func":"var m=msg.payload.moisture\nglobal.set('m',m)\nmsg.payload=m\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":100,"wires":[["b998101f.f3a7f"]]},{"id":"f293c633.0cbb38","type":"function","z":"710ea69.8bc5258","name":"","func":"msg.payload=msg.payload.Animal\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":200,"wires":[["924ff7cb.88f158"]]},{"id":"b998101f.f3a7f","type":"switch","z":"710ea69.8bc5258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":120,"wires":[["da2b9b47.692aa8","b6dc66c0.477b58"],[]]},{"id":"da2b9b47.692aa8","type":"function","z":"710ea69.8bc5258","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":60,"wires":[["2c32fbee.030534","998763b4.00218"]]},{"id":"b6dc66c0.477b58","type":"function","z":"710ea69.8bc5258","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":140,"wires":[["2c32fbee.030534"]]},{"id":"2c32fbee.030534","type":"ui_text","z":"710ea69.8bc5258","group":"c8555895.3f88f8","order":3,"width":7,"height":1,"name":"","label":"Moisture Status  in soil ","format":"{{msg.payload}}","layout":"col-center","x":900,"y":80,"wires":[]},{"id":"998763b4.00218","type":"rbe","z":"710ea69.8bc5258","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":830,"y":180,"wires":[["b1bf770a.13c098","4f7c8b76.6a7784"]]},{"id":"b1bf770a.13c098","type":"http request","z":"710ea69.8bc5258","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=ulMWjXwxmGBL2TZgA9tOahcI3rFoJsvbNyCiSPdnYQE1fU06H8OjZGsc0ATCuWN7nrvLU1qh6bmPkpzI&message=This is test message&language=english&route=q&numbers=9999999999,8888888888,7777777777","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":160,"wires":[["4f7c8b76.6a7784"]]},{"id":"4f7c8b76.6a7784","type":"debug","z":"710ea69.8bc5258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":240,"wires":[]},{"id":"68464784.28e3b8","type":"ui_button","z":"710ea69.8bc5258","name":"","group":"c8555895.3f88f8","order":14,"width":11,"height":1,"passthru":false,"label":"Click on  button to get image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":360,"wires":[["46f8d8b7.c63c38"]]},{"id":"c9fa6900.4f5058","type":"ui_button","z":"710ea69.8bc5258","name":"Light ON","group":"c8555895.3f88f8","order":6,"width":6,"height":1,"passthru":false,"label":"Light ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"topic","topicType":"msg","x":200,"y":440,"wires":[["a7dca3f7.19a61","13a826f1.64ef69"]]},{"id":"688ba02.280906","type":"ui_button","z":"710ea69.8bc5258","name":"Light OFF","group":"c8555895.3f88f8","order":7,"width":6,"height":1,"passthru":false,"label":"Light OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":200,"y":500,"wires":[["a7dca3f7.19a61","13a826f1.64ef69"]]},{"id":"26c665e0.2f80fa","type":"ui_button","z":"710ea69.8bc5258","name":"Motor OFF","group":"c8555895.3f88f8","order":9,"width":6,"height":1,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":600,"wires":[["a7dca3f7.19a61","13a826f1.64ef69"]]},{"id":"3a1d1435.6d9a6c","type":"ui_button","z":"710ea69.8bc5258","name":"Motor ON","group":"c8555895.3f88f8","order":8,"width":6,"height":1,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":540,"wires":[["a7dca3f7.19a61","13a826f1.64ef69"]]},{"id":"a7dca3f7.19a61","type":"debug","z":"710ea69.8bc5258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":480,"wires":[]},{"id":"13a826f1.64ef69","type":"ibmiot out","z":"710ea69.8bc5258","authentication":"apiKey","apiKey":"2f93b622.f3237a","outputType":"cmd","deviceId":"1001","deviceType":"IOTdevice","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":560,"wires":[]},{"id":"faf6e072.d9bb","type":"function","z":"710ea69.8bc5258","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":360,"wires":[["87fc8386.42f5e","faf7f2e8.7575c"]]},{"id":"46f8d8b7.c63c38","type":"http request","z":"710ea69.8bc5258","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://7bb92285-7884-4652-9c40-ddabe949b4fc-bluemix.cloudant.com/crop/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":true,"proxy":"","authType":"basic","x":290,"y":280,"wires":[["faf6e072.d9bb","87fc8386.42f5e"]]},{"id":"87fc8386.42f5e","type":"debug","z":"710ea69.8bc5258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":380,"wires":[]},{"id":"faf7f2e8.7575c","type":"ui_template","z":"710ea69.8bc5258","group":"c8555895.3f88f8","name":"","order":17,"width":18,"height":6,"format":"<img src={{msg.payload}} alt='Click on the button to get the image'/>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":700,"y":440,"wires":[[]]},{"id":"924ff7cb.88f158","type":"switch","z":"710ea69.8bc5258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":220,"wires":[["310e6607.5935da"],[]]},{"id":"310e6607.5935da","type":"function","z":"710ea69.8bc5258","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":220,"wires":[["998763b4.00218"]]},{"id":"d6076dae.d444e","type":"watson-text-to-speech","z":"84895be4.2363d8","name":"","lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","password":"","apikey":"9yVyfbwuj3xpp5SdTAoAAVUs4e4V2SE0_j-DDr-yrrGA","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/a5f75cd2-401f-4661-8733-f737cbe21499","x":330,"y":180,"wires":[[]]},{"id":"c24f4083.9fdca","type":"debug","z":"b602ba6d.082b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":120,"wires":[]},{"id":"e234ada8.acb01","type":"ui_gauge","z":"710ea69.8bc5258","name":"humidity","group":"c8555895.3f88f8","order":1,"width":10,"height":6,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":160,"wires":[]},{"id":"c32e5ef0.7626","type":"function","z":"710ea69.8bc5258","name":"","func":"global.set('h',msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":160,"wires":[["e234ada8.acb01"]]}]